.wrapper {
  background: #19324b;  
  background: -webkit-linear-gradient(to top, #fff, #19324b);
  background: linear-gradient(to bottom, #fff, #19324b); 
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center; 
  overflow: auto;
  bottom: 0;
}
