/* Blue border terminator */
button:focus {
    outline: 0;
}

h1,
h3,
h4 {
    font-family: 'Dosis', sans-serif;
}

.nav-item:active,
.nav-item:hover {
    color: #19324b;
}

canvas {
    position: absolute;
    left: 0;
    margin-bottom: 0;
    z-index: 0;
}
